@model SeaTransportation_ShowcassPro.Models.Ship

@{
    Layout = null;
}
@Styles.Render("~/Content/mybootstrap.css")
@Scripts.Render("~/Scripts/mybootstrap.js")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/Scripts/jquery.js")
@Styles.Render("~/font awesome/all.css")
@Scripts.Render("~/font awesome/all.js")
@Styles.Render("~/Content/formstyle.css")

<div class="container ">
    <h1>Add New Ship</h1>
    <hr />
    @using (Html.BeginForm("AddShip", "Admin"))//Check is targert action
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class=" signin-form container">
            <div class="row d-flex justify-content-center">

                @Html.TextBoxFor(model => model.maxWeight, new { @class = "col-10 col-lg-7 form-control m-3", @placeholder = "enter passowrd" })
                @Html.ValidationMessageFor(model => model.maxWeight, "", new { @class = "text-danger col-lg-7 col-10" })
                <center class="col-md-12 m-3 col-12">
                    <input type="submit" value="Add" class="btn btn-success button ">
                </center>
            </div>
        </div>
    }
</div>